
@{
	ViewBag.Title = "Thursday";
}
<h2>@ViewBag.Title</h2>

<p>This is Thursday view.</p>

@using (Html.BeginForm()) {

	<div class="some-spacing">
		<button id="btnSubmit" name="btnSubmit" value="submit">Home</button>
	</div>
}

@if (ViewData["ButtonPressed"] != null && (string)ViewData["ButtonPressed"] != string.Empty) {
	<div class="some-spacing">@ViewData["ButtonPressed"]</div>
}

